@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --pink: hsl(322, 100%, 66%);
  --light_pink: hsl(321, 100%, 78%);
  --light_red: hsl(0, 100%, 63%);
  --dark_cyan: hsl(192, 100%, 9%);
  --pale_blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 100%;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
}
header .navbar {
  display: flex;
  height: 200px;
  align-items: center;
}
header .navbar .logo {
  width: 50%;
}
header .navbar .logo img {
  width: 244px;
  margin: 80px;
}
header .navbar .btn1 {
  width: 50%;
  text-align: right;
}
header .navbar .btn1 a {
  text-decoration: none;
  color: var(--pink);
  border: 2px solid var(--pink);
  margin: 60px;
  padding: 10px 33px;
  border-radius: 25px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
header .navbar .btn1 a:hover, header .navbar .btn1 a:active, header .navbar .btn1 a:focus {
  color: var(--light_pink);
  border: 2px solid var(--light_pink);
}
header .hero {
  height: 300px;
  margin: 120px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .hero .heading {
  width: 1000px;
  text-align: center;
  margin-bottom: 25px;
  color: var(--dark_cyan);
  font-size: 47px;
  font-family: "Poppins", sans-serif;
}
header .hero .para {
  width: 620px;
  font-size: 21px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
  text-align: center;
}
header .hero .btn2 {
  color: white;
  background: var(--pink);
  padding: 25px 105px;
  text-decoration: none;
  font-size: 21px;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  box-shadow: 0px 4px 20px rgb(163, 163, 163);
  transition: all 0.4s ease-in-out;
}
header .hero .btn2:hover, header .hero .btn2:focus, header .hero .btn2:active {
  background: var(--light_pink);
  transform: translateY(-7px);
}

.sec1 {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0px auto 100px auto;
}
.sec1 .screen_mockup {
  margin: 50px 0px 115px 0px;
  width: 100%;
}
.sec1 .counting {
  display: flex;
  flex-direction: row;
}
.sec1 .counting .count {
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
}
.sec1 .counting .sub {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
}
.sec1 .counting .left_count {
  width: 50%;
  margin: auto;
  padding-left: 75px;
}
.sec1 .counting .left_count img {
  width: 45px;
}
.sec1 .counting .left_count .pad {
  padding-left: 2px;
}
.sec1 .counting .right_count {
  width: 50%;
  margin: auto;
  padding-left: 175px;
}
.sec1 .counting .right_count img {
  width: 45px;
}
.sec1 .counting .right_count .pad2 {
  padding-left: 40px;
}

.first_sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--pale_blue);
}
.first_sec .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first_sec .img_area {
  width: 53%;
  align-items: center;
}
.first_sec .img_area img {
  width: 553px;
  background: transparent;
}
.first_sec .t_area {
  width: 47%;
  text-align: left;
}
.first_sec .t_area .big_text {
  font-size: 46px;
  font-family: "Poppins", sans-serif;
  color: var(--dark_cyan);
  margin-bottom: 20px;
}
.first_sec .t_area .small_text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
  font-weight: 600;
}
.first_sec .content {
  display: flex;
  flex-direction: row-reverse;
  margin: 85px 0px 15px 0;
}
.first_sec img {
  background-color: white;
}
.first_sec .bot {
  margin-top: 50px;
}
.first_sec .t_area {
  padding-left: 70px;
}

.second_sec {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 470px;
  margin: 150px 0px 75px 0px;
}
.second_sec .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second_sec .img_area {
  width: 53%;
  align-items: center;
}
.second_sec .img_area img {
  width: 553px;
  background: transparent;
}
.second_sec .t_area {
  width: 47%;
  text-align: left;
}
.second_sec .t_area .big_text {
  font-size: 46px;
  font-family: "Poppins", sans-serif;
  color: var(--dark_cyan);
  margin-bottom: 20px;
}
.second_sec .t_area .small_text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
  font-weight: 600;
}
.second_sec .t_area .small_text {
  padding-right: 40px;
}

.third_sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--pale_blue);
}
.third_sec .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third_sec .img_area {
  width: 53%;
  align-items: center;
}
.third_sec .img_area img {
  width: 553px;
  background: transparent;
}
.third_sec .t_area {
  width: 47%;
  text-align: left;
}
.third_sec .t_area .big_text {
  font-size: 46px;
  font-family: "Poppins", sans-serif;
  color: var(--dark_cyan);
  margin-bottom: 20px;
}
.third_sec .t_area .small_text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--dark_cyan);
  font-weight: 600;
}
.third_sec .content {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px 0px 15px 0;
}
.third_sec img {
  background-color: white;
}
.third_sec .bot {
  margin-top: 20px;
}
.third_sec .t_area {
  padding-left: 70px;
}
.third_sec .t_area .small_text {
  padding-right: 2px;
}

.last_sec {
  width: 100%;
  height: auto;
}
.last_sec .que {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 470px;
  width: 100%;
}
.last_sec .que .heading {
  width: 1000px;
  text-align: center;
  margin-bottom: 29px;
  color: var(--dark_cyan);
  font-size: 47px;
  font-family: "Poppins", sans-serif;
}
.last_sec .que .btn2 {
  color: white;
  background: var(--pink);
  padding: 25px 105px;
  text-decoration: none;
  font-size: 21px;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  box-shadow: 0px 4px 20px rgb(163, 163, 163);
  transition: all 0.4s ease-in-out;
}
.last_sec .que .btn2:hover, .last_sec .que .btn2:focus, .last_sec .que .btn2:active {
  background: var(--light_pink);
  transform: translateY(-7px);
}

.main_foot {
  width: 1440px;
  height: auto;
}
.main_foot .foot_curve {
  margin-bottom: -5px;
}
.main_foot .foot {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 550px;
  background-color: var(--dark_cyan);
  color: var(--pale_blue);
}
.main_foot .foot .top_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 60px 35px 125px 60px;
}
.main_foot .foot .top_right .head_2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 25px;
}
.main_foot .foot .top_right .para_2 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-right: 200px;
  line-height: 27px;
}
.main_foot .foot .top_right .input {
  margin-top: 45px;
}
.main_foot .foot .top_right .input p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--light_red);
  margin-top: 5px;
  visibility: hidden;
}
.main_foot .foot .top_right .input .mail {
  width: 353px;
  height: 55px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  padding: 0px 20px;
}
.main_foot .foot .top_right .input .mail:hover, .main_foot .foot .top_right .input .mail:focus, .main_foot .foot .top_right .input .mail:active {
  outline: none;
}
.main_foot .foot .top_right .input .mail:hover:invalid, .main_foot .foot .top_right .input .mail:focus:invalid, .main_foot .foot .top_right .input .mail:active:invalid {
  border: 1px solid var(--light_red);
}
.main_foot .foot .top_right .input .submit {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 50px;
  background-color: var(--pink);
  border-radius: 7px;
  text-decoration: none;
  margin-left: 40px;
  color: white;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  border: none;
}
.main_foot .foot .top_right .input .submit:hover, .main_foot .foot .top_right .input .submit:focus, .main_foot .foot .top_right .input .submit:active {
  background: var(--light_pink);
  transform: translateY(-5px);
}
.main_foot .foot .bottom_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 70px;
}
.main_foot .foot .bottom_left .logo_2 img {
  filter: invert(1);
  width: 245px;
}
.main_foot .foot .bottom_left .para_3 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-right: 310px;
  line-height: 27px;
  margin: 30px 0px;
}
.main_foot .foot .bottom_left .font {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.main_foot .foot .bottom_left .font img {
  width: 25px;
  margin-right: 28px;
}
.main_foot .foot .bottom_left .phone {
  display: flex;
  flex-direction: row;
}
.main_foot .foot .bottom_left .phone_M {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 70px 0;
}
.main_foot .foot .bottom_left .social {
  display: flex;
}
.main_foot .foot .bottom_left .social svg {
  width: 37px;
  filter: invert(1);
}
.main_foot .foot .bottom_left .social svg:hover {
  cursor: pointer;
}
.main_foot .foot .bottom_left .social .s_hov:hover {
  transition: all 0.4s ease-in-out;
  transform: translateY(-5px);
}
.main_foot .foot .bottom_left .social .insta {
  margin: 0px 25px;
}

footer .attribution {
  background-color: var(--dark_cyan);
  color: white;
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=main.css.map */